#wrapper{
	width: 700px;
	display: block;
	margin: 0 auto;
	overflow: hidden;

	
}
#myCanvas{
	float: left;
	border:1px solid black;
	background-color: white;
}
#toolbar{
	float: left;
	width: 55px;
}
#colorSelect{
	clear: both;
}
.hidden {   
	left: -10000px;   
	position: absolute;   
	top: -1000px; 
} 
.spacer{
	margin: 4px;
}

.blueBorder{
	box-shadow: 0px 0px 10px 1px rgba(88,167,227,1);
}
.buttons{
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border: 1px solid #000000;
}
/* this is heavily based off of this tutorial: from http://www.webdesignerdepot.com/2012/10/creating-a-modal-window-with-html5-and-css3/*/
.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }